language: ruby
rvm:
  - 2.4

sudo: required

# install the pre-release chef-dk.  Use chef-stable-precise to install the stable release
addons:
  apt:
    sources:
      - chef-stable-trusty
    packages:
      - chefdk

services: docker

env:
  matrix:
  - INSTANCE=unit-tests
  - INSTANCE=default-centos-6
  - INSTANCE=default-centos-7 CHEF_VER=13
  - INSTANCE=default-ubuntu-1204
  - INSTANCE=default-ubuntu-1404 CHEF_VER=13
  - INSTANCE=default-ubuntu-1604
  - INSTANCE=default-debian-7
  - INSTANCE=default-debian-8
  - INSTANCE=default-fedora-latest
  - INSTANCE=default-amazon-2017 CHEF_VER=12
  - INSTANCE=default-amazon-2018 CHEF_VER=13
  - INSTANCE=default-amazon2

# Don't `bundle install`
install: echo "skip bundle install"

# Ensure we make ChefDK's Ruby the default
before_script:
  # https://github.com/zuazo/kitchen-in-travis-native/issues/1#issuecomment-142230889
  - sudo iptables -L DOCKER || ( echo "DOCKER iptables chain missing" ; sudo iptables -N DOCKER )
  - eval "$(/opt/chefdk/bin/chef shell-init bash)"
  - /opt/chefdk/embedded/bin/chef gem install kitchen-dokken
  - /opt/chefdk/embedded/bin/chef gem install kitchen-ec2

script:
  - ./ci-helper ${INSTANCE} ${CHEF_VER}
